body
	+Light
	color: $text-color
.section
	padding: 100px 0
	&-title
		font-size: 30px
		+bold
		text-align: center
	&__title
		margin-bottom: 100px
.button-o
	background-color: white
	border: 2px solid $primary
	padding: 17px 22px
	font-size: 12px
	text-transform: uppercase
	color: $primary
	+bold
.input
	height: 80px
	padding-left: 30px
	border: 1px solid #dddddd
.bg-secondary
	background: $bg-secondary 

.button
	border: none
	text-transform: uppercase
	padding: 25px 45px
	background-color: $primary
	color: #ffffff
	+bold
@media (max-width: 576)
	.button-o
		font-size: 10px
